/* <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style> */

body {
  width: 100%;
  text-align: center;
  background: hsl(233, 47%, 7%);
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
}

#container {
  background: hsl(244, 38%, 16%);
  margin: 10vh auto;
  width: 85%;
  max-width: 1080px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  #container {
    flex-direction: row-reverse;
    margin-top: 15vh;
  };
}

.half {
  min-width: 50%;
}

@media screen and (min-width: 1440px) {
  .half {
    max-width: 540px; 
    }
}

#hero {
  position: relative;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1440px) {
  #hero img {
    content:url("images/image-header-desktop.jpg")
  }
}

#shade {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0%;
  bottom: 0%;
  background: hsl(277, 64%, 61%);
  opacity: 45%;
}

a {
  color: hsl(228, 45%, 44%);
}

#content {
  display: flex;
  flex-direction: column;
}

#content > * {
  padding-top: 1.5rem;
}

span {
  color: hsl(277, 64%, 61%);
}

h1, .tally {
  color: hsl(0, 0%, 100%);
}

#content > h1 {
  font-size: 2rem;
  margin: 0 10%;
  letter-spacing: .06rem;
}

#content > p {
  color: hsla(0, 0%, 100%, 0.75);
  margin: 0 auto;
  margin-bottom: 2rem;
  line-height: 1.6rem;
  font-size: 15px;
  word-wrap: normal;
  width: 80%;
}

@media screen and (min-width: 1440px) {
  #content > h1, #content > p, #content > #data {
    text-align: left;
  }
}

#data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  width: 80%;
}

@media screen and (min-width: 1440px) {
  #data {
    flex-direction: row;
  }
}

.datum {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}

@media screen and (min-width: 1440px) {
  .datum {
    width: 20%;
  }
}

h2 {
  margin-bottom: .2rem;
  margin-top: .2rem;
}

.category {
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  font-size: .7rem;
  margin-top: 3px;
  margin-bottom: 1.5rem;
}

footer {
  color: white;
  font-size: .8rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  text-decoration: none;
}